/* estilo del boton de scrool o la flecha para volver hacia arriba*/
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
} 

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #2f3e46;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #588157;
}

/*este hace el efecto de scrool suabe*/
html {
    scroll-behavior: smooth;
}
