body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.background-container {
    background-image: url('/img/logocfp.png'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta según la altura deseada */
    position: relative;
    color: #fff; /* Color del texto */
    opacity: 0.90;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

h1, p {
    margin: 0;
}
.textos
{

    border: 3px solid white;
    background-color: black;
    padding: 10px;
}



.tex
{
font-size: 90px;
color: red;
}
.tex2{
    font-size: 70px;
    color:yellow;
}

.caja
{

     border:5px solid snow;
     padding: 30px;
     margin: 10px;
    

}



@keyframes titileo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .titileo-texto {
    animation: titileo 1s infinite; /* 1s es la duración de la animación, infinite hace que se repita indefinidamente */
  }
  