html {
  scroll-behavior: smooth;
}

.row>div {
  transition: background-color 0.3s ease;
  width: 100%;
}

h2 {
  text-align: center;
}

.tamaño {
  width: 100px;
  height: 500px;
}

/* Ajuste el ancho de las columnas según sus necesidades */
.container {
  max-width: 1200px;
  /* Ajusta según tus necesidades */
}

.col {
  transition: background-image 0.3s ease;
  padding: 20px;
  /* Añade un espacio interno para mejorar la apariencia */
}

.col:hover {
  color: blue;
}

/* Ajusta el espacio entre las columnas */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

/* Estilo de letra atractivo */
.atractivo {
  font-family: 'Pacifico', cursive;
  /* Puedes cambiar 'Pacifico' por otra fuente de Google Fonts */
  font-size: 30px;
  color: #fff;
  /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra del texto */
  letter-spacing: 1px;
  /* Espaciado entre letras */
  line-height: 1.5;
  /* Altura de línea */
  color: #fff;
  /* Color del texto */
  -webkit-text-stroke: 2px black;
  /* Ancho y color del contorno */
  padding: 10px;
  /* Opcional: Agregar relleno para separar el texto del borde */
  text-shadow: 5px 5px 10px #000;
}

.aoferta{
  font-family: 'Pacifico', cursive;
  /* Puedes cambiar 'Pacifico' por otra fuente de Google Fonts */
  font-size: 30px;
  color: #fff;
  /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra del texto */
  letter-spacing: 1px;
  /* Espaciado entre letras */
  line-height: 1.5;
  /* Altura de línea */
  color: #fff;
  /* Color del texto */
  -webkit-text-stroke: 2px black;
  /* Ancho y color del contorno */
  padding: 10px;
  /* Opcional: Agregar relleno para separar el texto del borde */
  text-shadow: 5px 5px 10px #000;
  
  text-decoration: none;

}

.aoferta:hover{
  font-family: 'Pacifico', cursive;
  /* Puedes cambiar 'Pacifico' por otra fuente de Google Fonts */
  font-size: 30px;
  color: #fff;
  /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra del texto */
  letter-spacing: 1px;
  /* Espaciado entre letras */
  line-height: 1.5;
  /* Altura de línea */
  color: #fff;
  /* Color del texto */
  -webkit-text-stroke: 2px black;
  /* Ancho y color del contorno */
  padding: 10px;
  /* Opcional: Agregar relleno para separar el texto del borde */
  text-shadow: 5px 5px 10px #000;

}

.columna{
  background-size: cover;
  /* Otra opción: "contain" para que la imagen se ajuste completamente dentro del contenedor */
  background-position: center;
  /* Otra opción: puedes ajustar la posición de la imagen según tus necesidades */
  width: 500px;
  height: auto;
  transition: background-image 0.3s ease;
  background-color: #e29578;
  color: #fefae0;

}

.columna:hover {
  background-image: url(/IMG/oferta/albañil.jpg);
  background-size: 100% 100%;
  /* Ajusta según tus necesidades */
  color: #fefae0;
  font-size: 30px;
}

.container-fluid {
  text-align: center;
  font-family: 'Pacifico', cursive;
  /* Puedes cambiar 'Pacifico' por otra fuente de Google Fonts */
  font-size: 50px;
  color: #fff;
  /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra del texto */
  letter-spacing: 1px;
  /* Espaciado entre letras */
  line-height: 1.5;
  /* Altura de línea */
  color: #fff;
  /* Color del texto */
  -webkit-text-stroke: 2px black;
  /* Ancho y color del contorno */
  padding: 10px;
  /* Opcional: Agregar relleno para separar el texto del borde */
  text-shadow: 5px 5px 10px #000;
}

.columna1 {
  background-size: cover;
  /* Otra opción: "contain" para que la imagen se ajuste completamente dentro del contenedor */
  background-position: center;
  /* Otra opción: puedes ajustar la posición de la imagen según tus necesidades */
  width: 500px;
  height: auto;
  transition: background-image 0.3s ease;
  background-color: #83c5be;
  color: #333;
}

.columna1:hover {
  background-image: url(/IMG/oferta/electricidad_industrial.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna2 {
  transition: background-color 0.3s ease;
  background-color: #5e548e;
}

.columna2:hover {
  background-image: url(/IMG/oferta/electricidad_domiciliaria.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna3 {
  transition: background-color 0.3s ease;
  background-color: #be95c4;
}

.columna3:hover {
  background-image: url(/IMG/oferta/modista.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna4 {
  transition: background-color 0.3s ease;
  background-color: #99582a;
}

.columna4:hover {
  background-image: url(/IMG/oferta/curtido2.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna5A {
  transition: background-color 0.3s ease;
  background-color: #80ed99;
}

.columna5A:hover {
  background-image: url(/IMG/oferta/mecanica.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna5M {
  transition: background-color 0.3s ease;
  background-color: #80ed99;
}

.columna5M:hover {
  background-image: url(/IMG/oferta/mecanica.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna6 {
  transition: background-color 0.3s ease;
  background-color: #c8b6ff;
}

.columna6:hover {
  background-image: url(/IMG/oferta/informatica.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna7 {
  transition: background-color 0.3s ease;
  background-color: #3c6e71;
}

.columna7:hover {
  background-image: url(/IMG/oferta/);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna8A {
  transition: background-color 0.3s ease;
  background-color: #e7ecef;
}

.columna8A:hover {
  background-image: url(/IMG/oferta/plomeria.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna8M {
  transition: background-color 0.3s ease;
  background-color: #e7ecef;
}

.columna8M:hover {
  background-image: url(/IMG/oferta/plomeria.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna9 {
  transition: background-color 0.3s ease;
  background-color: #90a955;
}

.columna9:hover {
  background-image: url(/IMG/oferta/soldadura.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna10 {
  transition: background-color 0.3s ease;
  background-color: #b5179e;
}

.columna10:hover {
  background-image: url(/IMG/oferta/soldadura_industrial.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna11 {
  transition: background-color 0.3s ease;
  background-color: #ff9f1c;
}

.columna11:hover {
  background-image: url(/IMG/oferta/peluqueria.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna12 {
  transition: background-color 0.3s ease;
  background-color: #ffcfd2;
}

.columna12:hover {
  background-image: url(/IMG/oferta/gastronomia.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna13 {
  transition: background-color 0.3s ease;
  background-color: #27a300;
}

.columna13:hover {
  background-image: url(/IMG/oferta/operador_horticola.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna14 {
  transition: background-color 0.3s ease;
  background-color: #778da9;
}

.columna14:hover {
  background-image: url(/IMG/oferta/carpinteria.jpg);
  opacity: 100%;
  background-size: 100% 100%;
}

.columna15 {
  transition: background-color 0.3s ease;
  background-color: #f2d492;
}

.columna15:hover {
  background-image: url(/IMG/oferta/mecatronica.jpg);
  opacity: 100%;
  background-size: 100% 100%;

}

